.rocketImg {
  width: 200px;
  height: 200px;
}

.rocketUL {
  list-style: none;
  padding: 1rem 4rem;
}

.rocketUL li {
  display: flex;
  gap: 1rem;
  margin: 2rem 0;
}

.descripContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.name {
  font-size: 1.7rem;
  font-weight: 400;
}

.description {
  font-size: 1rem;
  line-height: 1.5rem;
}

.reservedBadge {
  font-size: 1rem;
  margin: 0 0.5rem 0.4rem 0;
  background-color: #0fb6bf;
  border-radius: 10%;
  padding: 3px;
  color: white;
}

.reservedBtn {
  font-size: 1.5rem;
  width: 23%;
  border: none;
  background-color: #3b7df7;
  color: white;
  padding: 1rem 0.2rem;
  border-radius: 6%;
}

.cancelBtn {
  font-size: 1.3rem;
  width: 23%;
  background-color: white;
  color: rgb(77, 74, 74);
  padding: 1rem 0;
  border-radius: 6%;
}
