.mainContainer {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 2rem 4rem;
}

.missionContainer {
  width: 50%;
}

.rocketContainer {
  width: 50%;
}

.rocketContainer h2 {
  margin: 1rem;
}

.rocketsUL {
  list-style: none;
  border: 0.5px solid rgb(153, 151, 151);
  border-bottom: none;
  border-radius: 5px;
}

.rocketsUL li {
  padding: 2rem;
  border-bottom: 0.6px solid rgb(153, 151, 151);
  font-size: 1.5rem;
}
